<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-dark blue ">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>
  
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Basic dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>
  
        </ul>
        <!-- Links -->
  
  <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
  <!--/.Navbar-->

<div class="container" style="padding-top:100px;">
    <div class="row">
      <div class="col-md-6 offset-md-3 ">

        
  <div class="jumbotron animated heartBeat slower color blue mdb-color white-text" style="padding: 50px 0px">
    <h4 class="text-center ">To Do List </h4>
   </div>
   <div class="input-group">
       <input type="text" class="form-control" #itemTitle (keyup.enter)="onAdd(itemTitle)">
       <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
           <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
   
       </div>
   </div>
   
   <div style="margin: 5px 0px;">
       <ul class="list-group"> 
           <li class="list-group-item" *ngFor="let item of toDoListArray">
               <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
                   <i class="fa fa-lg" [ngClass]="item.isChecked? 'fa-check-circle-o':'fa-circle-thin' "></i>
               </span>
               {{item.title}}
               <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
                   <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>
               </span>
           </li>
       </ul>
   </div>
   
        
  </div>
 </div>
</div>



 
