<mdb-navbar SideClass="navbar navbar-dark navbar-expand-lg blue animated fadeInDown">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Home</a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a routerLink="/todo" class="nav-link waves-light" mdbWavesEffect>Todo list<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a routerLink="/about" class="nav-link waves-light" mdbWavesEffect>About</a>
            </li>     
        </ul>
    </links>
</mdb-navbar>

<section class="my-5">
    <h2 class="h1-responsive font-weight-bold text-center my-5">Why TODO List?</h2>  
    <p class="lead grey-text text-center w-responsive mx-auto mb-5">
        Making a List of tasks which are to be finished is always a good practise and it gives us a clear idea about the work to be done<br>
        When you delete the tasks once it is finished reduces the list which then motivates to finish the remaining tasks
    </p>  
    <h3 class="h1-responsive font-weight-bold  my-5" style="margin-left:100px; padding-left: 100px;"> Developer</h3>

    <div class="row ">
        <div class="col-lg-5 text-center text-lg">
        <img class="img-fluid animated slideInLeft slower" src="https://lh3.googleusercontent.com/-5H3JgMLZvdE/XNLzuZF0QuI/AAAAAAAAFfs/_tDF43GAJxwAutAaXJY-OlcGqmTjfzDDQCEwYBhgLKs4DAMBZVoAfpUgvhuGdi4Be6amEL4kOsuyZWeWTxBsPlVyGlEAgR7xYPRHnIfmKYRqG-qOmA0Ecf5naCnxeA0u1Hv4FFeyKP_BsInb9zoRwVXrGGTLcPFiJ-95I0IIw27aL0eaDakQ5OhxVR1jNXMs-kLCWxi3315mpueVvFrRXlVsM0nv0iboyyqC6gf-5JWdUrrvJcKDyzu_6URsZgMSrxNi5givGoRq5qfWEfJwozGBbXsNijbytjIFMZKEFl4ZyXn-tLiuZ8pbPASJcWapn5Yj-7rvTbHLTjYyGy0Kl31-P9ChpDdXl1nvmQMft6r5nWWqcKItAGv9l66KiELqm32RmqHTUEmMwdSuywfzU_vW981QZOPOWnMygA2nCPpU1JruKChBhDQla7IPQSKnT2t9zieKPgWA5p7I3hkhszLnzw9FCDOugUKZ9KvpjlF38mQMVwsLNYMDNLzc5seh1PqyV_P7ieRkzJRzR1q5yWMLCw4dHsa2zDvaWMyvB0puSiXmOQZEncMWS4LI-s3KhgQhAtppgfj63glRP1WdM5lOzVZLi8t89HxHQBw5J3MXi-rqmlZnhUxaBfoJv5Nl_cHGkP1XBwpGRKb8fGWyQMPCXyPQF/w140-h140-p/7a6e5129-6113-49b5-ace0-1e4820d3576e" alt="Sample image">
      </div>

      <div class="col-lg-7">
          <div class="row mb-3">
            <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10"><a href="https://github.com/IMSRIJAN04" target="blank">
            <h5 class="font-weight-bold mb-3"><button type="button" class="btn btn-dark"><i class="fab fa-github pr-1"></i> Github</button></h5>
          </a>
          </div>

  
        </div>
 
        <div class="row mb-3">
  

          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
 
          <div class="col-xl-10 col-md-11 col-10"><a href="https://www.linkedin.com/in/srijan-erroju-ba70b7193/" target="blank">
            <h5 class="font-weight-bold mb-3"><button type="button" class="btn btn-primary"><i class="fab fa-linkedin-in pr-1"></i> LINKEDIN</button></h5>
           </a>
          </div>
        </div>
  
        <div class="row">
  

          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>

          <div class="col-xl-10 col-md-11 col-10"><a href="https://stackoverflow.com/users/13095381/srijan-erroju" target="blank">
            <h5 class="font-weight-bold mb-3"><button type="button" class="btn btn-warning" style="color: white;"><i class="fab fa-stack-overflow pr-1"></i> Stack Overflow</button></h5>
          </a>
          </div>
        </div>
  
      </div>  
    </div>
  </section>

  
<footer class="page-footer font-small unique-color-dark pt-6 animated zoomInUp slower">
    <div class="container">  
      
      <ul class="list-unstyled  text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1"><i class="far fa-envelope"> srijanerroju@gmail.com</i></h5>
        </li>
        <li >
            <h5 class="mb-1"> <i class="fas fa-phone-square-alt"> 9398763597 </i></h5>
        </li>
       </ul>
      </div>
      <div class=" text-center py-3">Kasavanahalli, Bengaluru, Karnataka 560035
    </div>
</footer>
 


 